<% include partials/_header %>
<form>
    <div class="container mt-5 col-12">
        <table class="table ">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Curso</th>
                <th scope="col">Grupo-Profesor</th>
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Inteligencia Artificial</td>
                <td>G2-MARCOS</td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Arquitectura de Software</td>
                <td>G2-MARCOS</td>
                
            </tr>
            <tr>
                <th scope="row">3</th>
                <td >Redes</td>
                <td>G2-MARCOS</td>
            </tr>
            </tbody>
        </table>
    </div>

</form>
<div class="mt-5">
    <h4>En caso de algun error, comuniquese con sanfrank@gmail.com</h4>
</div>
<div class="container"></div>
<% include partials/_footer %>
